* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  
}

body {
  background: #2E3440;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
  padding: 20px 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;

  font-family: 'Space Mono', monospace;
}

#hour {
  color: #88C0D0;
  font-size: 1.7rem;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
   
  right: 40px; 

  max-width: 500px;
  padding: 5px;

  border-radius: 5px;
  background-color: #4C566A;
}

.weather div {
  display: flex;
  justify-content: center;
}

#celsius {
  color: #EBCB8B;
  position: relative;
  top: 15px;
}

#description {
  color: #D8DEE9;
}

#icon {
  width: 40px;
  height: 40px;
}

#greetings {
  color: #D8DEE9;
  font-size: 2.3rem;
}

hr {
  width: 500px;
  margin: 20px auto 60px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  vertical-align: top;
  font-family: 'Overpass Mono', monospace;

}

.social, .watch, .dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social h1 {
  font-size: 2.6rem;
  color: #BF616A;
  font-weight: 100;
}

.watch h1 {
  font-size: 2.6rem;
  color: #EBCB8B;
  font-weight: 100;
}

.dev h1 {
  font-size: 2.6rem;
  color: #B48EAD;
  font-weight: 100;
}

ul {
   margin-top: 10px;
}

li {
  list-style-type: none;
  margin: 20px 0;
}

a:visited, a:link, a:active {
  font-size: 1.5rem;
  font-weight: 100;
  color: #D8DEE9;
  text-decoration: none;
}

#twitter:hover {
  color: #1DA1F2;
}

#outlook:hover {
  color: #00A4EF;
}

#reddit:hover {
  color: #FF5700;
}

#twitch:hover {
  color: #6441A4;
}

#youtube:hover {
  color: #FF0000;
}

#github:hover {
  color: #4C566A;
}

#stack:hover {
  color: #F48024;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 550px) {
  .weather, #greetings, hr
  {
    visibility: hidden;
    margin: auto;
  }
  .social, .watch, .dev {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .hour {
    text-align: center;
  }
}
